@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}

.app {
  background-color: #fcfcfc;
  width: 100vw;
  height: 100vh;
}

.container{
  width: 92%;
  margin: 0 auto;
}

.navbar{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem; 
}

.navbar .brand-name{
  font-size: 2.8rem;
  font-weight: 700;
  color: #2d88e2;
  font-family: 'Kanit', sans-serif;
  text-shadow: #5e17eb 1px 2px;
}

.navbar .github-repo-link{
  color: #121010;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  text-decoration: none;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  outline: #121010 solid 0.1rem;
  height: 2.8rem;
  margin-top:  0.8rem;
}